
  /* HEADER */
header {
  margin-bottom: 50px;
}
  .navbar-header {
    padding-left: 10%;
  }
    .navbar-right {
      margin-right: 50px;
    }
    .navbar-brand {
      float: none;
    }
    .belax8-logo {
      width: 40px;
      margin: 5px;
    }


  /* MAIN CONTENT */
h1 {
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
}
  .tabs {
    min-height: 800px;
  }
  #home {
    background: #0091ce;
  }
  #experience {
    background: #70ff92;
  }
  #portfolio {
    background: #cc6aff;
  }
    .cap-distributing-logo {
      width: 100%;
      background: white;
    }
  #contact {
    background: #ddd;
  }


/* FOOTER */
footer {
  background: #333;
  color: white;
  padding: 10px;
}
  footer p {
    margin: 10px;
    text-align: center;
  }
  footer a {
    text-decoration: none;
  }
    footer i {
      margin: 0 10px;
      color: white;
    }
      footer i:hover {
        color: #0091ce;
      }
