  /* MAIN */
body {
  background: #ddd !important;
}
a:link, a:visited, a:hover, a:active {
	color: #0091ce;
}
p {
  font-size: 20px;
}
.main-p {
	text-align: center;
	margin: 40px 0;
}
svg {
  max-height: 100%;
}

  /* HEADER */
header {
  margin-bottom: 50px;
}
  .navbar-header {
    padding-left: 10%;
  }
    .navbar-right {
      margin-right: 50px;
    }
    .navbar-brand {
      float: none;
    }
    .belax8-logo {
      width: 40px;
      margin: 5px;
      border-radius: 5px;
    }


  /* MAIN CONTENT */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}
  .tabs {
    min-height: 300px;
  }
  #home {
    background: #ddd;
  }
    .chase-img {
      display: block;
      margin: 0 auto;
      width: 90%;
    }
  #experience {
    background: #ddd;
  }
    .experience-img {
      width: 100%;
      background: white;
    }
      .rent-dynamics-logo {
        background: #303030;
        padding: 15px;
      }
		#experience h3 {
			text-align: center;
		}
			#experience h3 a:link,#experience h3 a:visited,#experience h3 a:hover,#experience h3 a:active {
	      color: black;
	      text-decoration: none;
	    }
  #portfolio {
    background: #ddd;
  }
    h2 {
      text-align: center;
    }
    .codepen-snippets {
      width: 100%;
    }
  #contact {
    background: #ddd;
  }
    #contact p {
      text-align: center;
    }
		#contact .contact-form {
			padding: 10px;
		}



/* FOOTER */
footer {
  background: #333;
  color: white;
}
  footer p {
    margin: 5px;
    text-align: center;
  }
  footer a {
    text-decoration: none;
  }
    footer i {
      margin: 0 10px;
      color: white;
    }
      footer i:hover {
        color: #0091ce;
      }
